<nav id="fms-headbar" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div style="top: 40px; position: relative;" ng-cloak ng-controller="LayoutController">
	    <ul class="nav navbar-nav">
	      <li class="navbar-brand">
	        <a href="#/">
	          <img src="/images/logo01-small.png">
	        </a>
	      </li>
	      <li>
					<span><h1><a href="#/restaurants/{{featuredMenuSlug}}"><span ng-show="areaName">{{areaName}} </span>Restaurants</a></h1></span>
					<span ng-show="!accessAccount"><h1><a href="#/account/{{customerId}}">My Account</a></h1></span>
					<span ng-show="accessAccount"><span ng-click="logIn()" class="logInSignUpLink">Log In</span><span class="logInSignUpPipe"> | </span><span ng-click="signUp(areas)" class="logInSignUpLink">Sign Up</span></span>
					<span><h1><a href="#/about/">About Grub2You</a></h1></span>
	      </li>
	    </ul>
		</div>
	</div>
</nav>

<div ng-controller="MessageController" id="fms-messenger">
  <alert type="{{alertType}}" ng-show="userMessage" close="close()">
    <strong ng-show="title">{{title}}&nbsp;</strong>
    {{userMessage}}
  </alert>
</div>

<div class="container" id="fms-main-container">
  <div id="fms-main">
    <div ng-view></div>
  </div>
</div>

<!-- Hack for ensuring event-based services are instantiated -->
<div ng-controller="LoadServices" style="display:none;" aria-hidden="true"></div>

