<nav id="fms-headbar" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="navbar-brand">
        <a href="#/">
          <img src="/images/logo-sm.png">
        </a>
      </li>
      <li>
			<h1><a href="#/restaurants/{{featuredMenuSlug}}">Restaurants</a></h1>
				<h1><a href="#/account/">My Account</a></h1>
				<h1><a href="#/about/">About Grub2You</a></h1>
      </li>
    </ul>
  </div>
</nav>
<div class="navbar-fixed-fix"></div>

<div ng-controller="MessageController" id="fms-messenger">
  <alert type="{{alertType}}" ng-show="userMessage" close="close()">
    <strong ng-show="title">{{title}}&nbsp;</strong>
    {{userMessage}}
  </alert>
</div>

<div class="container" id="fms-main-container">
  <div id="fms-main">
    <div ng-view></div>
  </div>
</div>

<!-- Hack for ensuring event-based services are instantiated -->
<div ng-controller="LoadServices" style="display:none;" aria-hidden="true"></div>

