
/** Global **/

html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

body {
	font-family: 'Open Sans', sans-serif;
}

td {
	vertical-align: middle!important;
}

.divspan {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.fa-btn-text {
	position: relative;
	top: -4px;
	margin-left: 4px;
}

.collageMain {
	top: 10px;
	left: 200px;
	width: 640px;
	background-color: white;
	border: 1px solid white;
	position: relative;
}

.restInfo {
	top: -260px;
	left: 200px;
	width: 240px;
	height: 120px;
	border: 2px solid white;
	background-color: white;
	text-align: center;
	position: relative;
	z-index: 100;
}

.collageMain .row {
	margin-right: 0px;
	margin-left: 0px;
}

.collageMain .col-md-12 {
	padding-left: 0px;
	padding-right: 0px;
}

.collageMain .col-md-6 {
	padding-left: 0px;
	padding-right: 0px;
}

.fms-time {
	margin-left: 20px;
}

.restMenuHead {
	font-size: 16px;
}

.restaurantLink {
	font-size: 16px;
	cursor: pointer;
}

.menuLink {
	font-size: 12px;
	padding-left: 10px;
	cursor: pointer;
}

.hideMenuList {
	display: none;
}

.hideItemList {
	display: none;
}

#itemRow {
	padding: 8px;
	border-bottom: 1px solid #FFCFC2;
}

.itemName {
	font-size: 18px;
	font-weight: 450;
}

.itemDesc {
	font-size: 14px;
	font-weight: 300;
}

.add2Order {
	color: red;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

.removeFromOrder {
	color: red;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

#restaurantMenusPanel {
}

#menuItemsPanel {
	border-left: 1px dotted grey;
	border-right: 1px dotted grey;
}

#orderPanel {
}

.orderHead {
	font-size: 16px;
	font-weight: 600;
}

#thingRow {
	border-top: 1px solid #C0C2FF;
}

#thingPrice {
	text-align: right;
}

#subtotalRow {
	border-top: 1px solid #C0C2FF;
}

#deliveryFeeRow {
	border-top: 1px solid #C0C2FF;
}

#discountRow {
	border-top: 1px solid #C0C2FF;
}

#totalRow {
	border-top: 1px solid #C0C2FF;
}

.subtotal {
	text-align: right:
}

.delivery {
	text-align: right:
}

.discount {
	text-align: right:
}

.total {
	text-align: right:
}

/** Bootstrap overrides **/

.page-header {
	margin-top: 0px;
	padding-top: 0px;
}
.page-header h1, .page-header h2, .page-header h3 {
	margin-top: 8px;
	margin-bottom: 8px;
}

.navbar button {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 8px;
}

.modal {
	background-color: rgba(0, 0, 0, .3);
}

/** Angular Bootstrap **/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/** Pods **/

.pod-row {
}

.pod-row .pod {
	padding: 15px;
	border-radius: 15px;
	border: 1px solid #ccc;
	margin-right: 15px;
	margin-bottom: 15px;
}
.pod.col-md-3 {
	width: calc((100% * 3 / 12) - 15px);
}
.pod.col-md-4 {
	width: calc((100% * 4 / 12) - 15px);
}
.pod.col-md-8 {
	width: calc((100% * 8 / 12) - 15px);
}

.pod-row .pod .pod-body {
	width: calc(100% * 11 / 12);
	float: left;
}
.pod-row .pod .pod-body .row {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 10px;
}

.pod-row .pod .pod-body .col-md-1, .pod-row .pod .pod-body .col-md-2,
.pod-row .pod .pod-body .col-md-3, .pod-row .pod .pod-body .col-md-4,
.pod-row .pod .pod-body .col-md-5, .pod-row .pod .pod-body .col-md-6,
.pod-row .pod .pod-body .col-md-7, .pod-row .pod .pod-body .col-md-8,
.pod-row .pod .pod-body .col-md-9, .pod-row .pod .pod-body .col-md-10,
.pod-row .pod .pod-body .col-md-11, .pod-row .pod .pod-body .col-md-12 {
	padding-left: 0px;
	padding-right: 0px;
}

.pod-row .pod .pod-body .col-md-offset-1, .pod-row .pod .pod-body .col-md-offset-2,
.pod-row .pod .pod-body .col-md-offset-3, .pod-row .pod .pod-body .col-md-offset-4,
.pod-row .pod .pod-body .col-md-offset-5, .pod-row .pod .pod-body .col-md-offset-6,
.pod-row .pod .pod-body .col-md-offset-7, .pod-row .pod .pod-body .col-md-offset-8,
.pod-row .pod .pod-body .col-md-offset-9, .pod-row .pod .pod-body .col-md-offset-10,
.pod-row .pod .pod-body .col-md-offset-11, .pod-row .pod .pod-body .col-md-offset-12 {
	margin-left: 15px;
}

.pod-row .pod .pod-controls {
	padding-left: 15px;
	width: calc(100% * 1 / 12);
	float: left;
}
.pod-row .pod .pod-controls button {
	margin-bottom: 10px;
}

/** Layout **/

.navbar-brand img {
	height:40px;
	position: relative;
	top: -5px;
	background-color: #fff;
	padding: 5px;
	border-radius: 15px;
}

#fms-headbar {
	background-color: #7E8AA2;
	border: 0;
}

#fms-headbar, #fms-headbar a {
	color: #fff;
	text-decoration: none;
}

#fms-headbar h1 {
	font-size: 14pt;
	position: relative;
	left: -10px;
	top: -5px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 30px;
	color: #fff;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

#fms-headbar .nav li a {
	padding-right: 0;
}
#fms-headbar .nav li>a.active {
	background-color: #007581;
}

.fms-headbar-add {
	padding-right: 15px!important;
	padding-left: 10px!important;
}

.navbar-fixed-fix {
	height: 60px;
}

#fms-messenger .alert {
	/* width: calc(100% - 70em); */
	width: 40em;
	height: 40px;
	position: fixed;
	text-align: center;
	top: 4px;
	/* left: calc(50% - (100% - 70em) / 2); */
	left: calc(50% - (40em / 2));
	z-index: 1030;
	padding-top: 10px;
	color: #007581;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipses;
}

#fms-main-container {
	margin-left: 0px;
	width: 100%;
	background-color: #FF9800;
	background-image: url('/images/bg_icons.png');
}

#fms-modules-grid {
	position: relative;
	left: -20px;
}

#fms-nav-away-modal li {
	margin-top: 14px;
	line-height: 20pt;
}

.label.label-custom {
	background-color: #fff;
	border: 1px solid #999;
	color: #000;
}

.label.text-muted {
	color: #888;
}

table .fms-action {
	float: left;
}

