<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/index.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/packages/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/packages/angular-payments/lib/angular-payments.min.js"></script>
    <script src="/packages/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="/packages/holderjs/holder.js"></script>
    <script src="/packages/moment/moment.js"></script>
    <script src="/packages/bluebird/bluebird.js"></script>
    <script src="/packages/lodash/lodash.min.js"></script>
    <script src="/packages/d3/d3.min.js"></script>
    <script src="/packages/angularD3/angularD3.min.js"></script>
    <script src="/app.js"></script>
    <script src="/local.js"></script>
    <script src="/packages/angulartics/dist/angulartics.min.js"></script>
    <script src="/packages/angulartics/dist/angulartics-ga.min.js"></script>
    <script src="/directives/focusOn.js"></script>
    <script src="/directives/holderJs.js"></script>
    <script src="/services/accountMgmt.js"></script>
    <script src="/services/careersMgmt.js"></script>
    <script src="/services/championshipMgmt.js"></script>
    <script src="/services/configMgr.js"></script>
    <script src="/services/customerMgmt.js"></script>
    <script src="/services/customerSchema.js"></script>
    <script src="/services/deviceMgr.js"></script>
    <script src="/services/drawingMgmt.js"></script>
    <script src="/services/errMgr.js"></script>
    <script src="/services/fakeAuth.js"></script>
    <script src="/services/httpIntercept.js"></script>
    <script src="/services/layoutMgmt.js"></script>
    <script src="/services/lotteryMgmt.js"></script>
    <script src="/services/messenger.js"></script>
    <script src="/services/navMgr.js"></script>
    <script src="/services/numberMgmt.js"></script>
    <script src="/services/orderMgmt.js"></script>
    <script src="/services/payMethodMgmt.js"></script>
    <script src="/services/pod.js"></script>
    <script src="/services/poolMgmt.js"></script>
    <script src="/services/promoMgmt.js"></script>
    <script src="/services/querystring.js"></script>
    <script src="/services/seo.js"></script>
    <script src="/services/signup.js"></script>
    <script src="/services/testerMgmt.js"></script>
    <script src="/controllers/AboutController.js"></script>
    <script src="/controllers/AccountController.js"></script>
    <script src="/controllers/AccountEditController.js"></script>
    <script src="/controllers/AccountModalController.js"></script>
    <script src="/controllers/CareersController.js"></script>
    <script src="/controllers/CheckoutController.js"></script>
    <script src="/controllers/ContactController.js"></script>
    <script src="/controllers/ExplainerController.js"></script>
    <script src="/controllers/HomeController.js"></script>
    <script src="/controllers/LayoutController.js"></script>
    <script src="/controllers/LayoutMgmtController.js"></script>
    <script src="/controllers/LotteryViewController.js"></script>
    <script src="/controllers/MenuItemsController.js"></script>
    <script src="/controllers/NumberViewController.js"></script>
    <script src="/controllers/OrderController.js"></script>
    <script src="/controllers/OrderDetailsController.js"></script>
    <script src="/controllers/OrderMgmtController.js"></script>
    <script src="/controllers/PokerController.js"></script>
    <script src="/controllers/PrivacyController.js"></script>
    <script src="/controllers/RestaurantsController.js"></script>
    <script src="/controllers/TermsController.js"></script>
    <script src="/controllers/TesterController.js"></script>
    <script src="/app.routes.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
