<ul id="fms-modules-grid" ng-cloak>
	<div class="row">
		<div class="col-md-12">
			<div class="row" id="aboutMain">
				<div class="col-md-3">
					<div class="row" id="aboutStoryHead">
						<h3>The Grub2You Story</h3>
					</div>
					<div class="row" id="aboutStoryBody" style="height: {{acHt}}px;">
						The idea for Grub2You was born we realized that we really missed a similar service that had existed previously but was no longer available. Our busy lives really afforded us not many great options when it came to balancing a quality family meal and the time commitment of going out to eat or cooking at home; Grub2You solves this problem by delivering a hot, fresh, high-quality meal to us wherever we are, freeing us to spend more time with family or work commitments.<br/><br/>
					</div>
				</div>
				<div class="col-md-3 col-md-offset-1">
					<div class="row" id="aboutOtherHead">
						<h3>How Does it Work?</h3>
					</div>
					<div class="row" id="aboutOtherBody" style="height: {{acHt}}px;">
						The process starts with you browsing the <a href="#/restaurants" style="text-decoration: none;">restaurants and menus</a> on this site and creating an order. Once the order has been submitted (and payment arrangements made), we take care of everything else!<br/><br/>
					 	We call the restaurant on your behalf, ordering your meal just as you specify (make sure to include special ordering instructions when you add an item to your order). We then assign your order to the next available driver, who collects your order from the restaurant and delivers it hot and fresh to you!
					</div>
				</div>
				<div class="col-md-3 col-md-offset-1">
					<div class="row" id="aboutDriversHead">
						<h3>About Our Drivers</h3>
					</div>
					<div class="row" id="aboutDriversBody" style="height: {{acHt}}px;">
						Our drivers are the most personal representation of our company. As such, we have the highest of expectations for their appearance, behavior, courtesy, customer service, professionalism and safe driving.<br/><br/>
						A thorough background check is performed for each driver before he or she is permitted to deliver; the safety and comfort of our customers is of paramount importance to us.<br/><br/>
					</div>
				</div>
    </div>
  </div>
</ul>
