<div class="modal-header">
  <h4 class="modal-title" id="nav-away-modal-title">
		Add <strong>{{item.name}}</strong> to Your Order
  </h4>
</div>
<div class="modal-body">
	<form>
		<div class="radio" ng-repeat="option in item.options">
			<label><input type="radio" name="optionName" ng-value="option.id" ng-model="$parent.selOption">{{option.name}} - {{option.price}}</label>
		</div>
		<br/>
		<label for="specInst">Special Instructions:</label>
		<textarea class="form-control" rows="5" ng-model="specInst"></textarea>
	</form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary pull-left" ng-click="$close('discard')">
    <i class="fa fa-reply"></i> &nbsp; Go Back
  </button>
  <button type="button" class="btn btn-success pull-right" ng-click="addItemOption()" ng-disabled="!selOption">
    <i class="fa fa-plus"></i> &nbsp; Add to Order
  </button>
</div>
