<div class="modal-header" ng-controller="RestaurantsController">
  <h4 class="modal-title" id="nav-away-modal-title">
		Add {{addItemName}} to Your Order
  </h4>
	<br/>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2">
					&nbsp;
				</div>
				<div class="col-md-10">
					<div class="radio" ng-repeat="option in itemOptions">
						<label><input type="radio" name="optionId" value="option.id">{{option.name}} - {{option.price}}</label>
					</div>
				</div>
				<div class="col-md-2">
					&nbsp;
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-2">
					&nbsp;
				</div>
				<div class="col-md-10">
					<label for="specInst">Special Instructions:</label>
					<txetarea class="form-control" rows="5" id="specInst"></textarea>
				</div>
				<div class="col-md-2">
					&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>
<br/>
<div class="modal-footer">
  <button type="button" class="btn btn-primary pull-left" ng-click="$close('discard')">
    <i class="fa fa-reply"></i> &nbsp; Go Back
  </button>
  <button type="button" class="btn btn-success pull-right" ng-click="$close('save')">
    <i class="fa fa-plus"></i> &nbsp; Add to Order
  </button>
</div>
