<div class="col-md-12">
	<div class="row" id="homeMain">
		<div class="col-md-12">
			<div class="row" id="homeHead">
				<h1>WyoDraw's Comprehensive Analysis of Lotteries Available in Wyoming!</h1>
			</div>
			<div class="row" id="homeBody">
				<div class="col-md-12">
					<div class="row" ng-repeat="lottery in lotteries">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<h3><a href="/app/lottery/{{lottery.id}}" style="text-decoration: none;">{{lottery.name}}</a></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>
		</div>
	</div>
</div>
