<ul id="sd-modules-grid" ng-cloak>
  <div class="row">
    <div class="col-md-3" ng-repeat="module in modules">
      <div class="thumbnail">
        <a href="{{module.list}}"><img holder-js="holder.js/100%x250"></a>
        <div class="caption">
          <h3>
            <a href="{{module.list}}">{{module.name}}</a>
            <a href="{{module.add}}" class="pull-right">
              <i class="fa fa-lg fa-plus-square"></i>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</ul>
