<div class="col-md-12">
	<div class="row" id="lotteryViewMain">
		<div class="col-md-12">
			<div class="row" id="lotteryViewHead">
				<h1>{{lotteryData.name}}</h1>
			</div>
			<div class="row" id="lotteryViewBody">
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<h3>Drawing Results</h3>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
									<span class="text-muted">Drawing Date</span>
								</div>
								<div class="col-md-6">
									<span class="text-muted">Numbers Drawn</span>
								</div>
							</div>
							<div class="row" ng-repeat="drawing in drawingsData">
								<div class="col-md-4">
									<h5><a href="/app/drawings/{{drawing.id}}" style="text-decoration: none;">{{drawing.drawDate}}</a></h5>
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-1" ng-repeat="number in drawing.numbers">
											<h5><a href="/app/numbers/{{number.number}}" style="text-decoration: none;">{{number.number}}</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<h3>Basic Statistics</h3>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
									<span class="text-muted">Most Frequent Numbers</span>
								</div>
								<div class="col-md-4">
									<span class="text-muted">Number Frequency</span>
								</div>
							</div>
							<div class="row" ng-repeat="number in numberStats">
								<div class="col-md-4">
									<h5><a href="/app/numbers/{{number.number}}" style="text-decoration: none;">{{number.number}}</a></h5>
								</div>
								<div class="col-md-4">
									<h5><a href="/app/numbers/{{number.number}}" style="text-decoration: none;">{{number.freqPercent}}%</a></h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
