<div class="col-md-12" style="top: 40px; background-color: white;">
	<div class="row">
		<div class="col-md-3">
			<div class="row" ng-repeat="restaurant in restaurants">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<span class="restaurantLink" ng-init="restaurantId = restaurant.id" ng-click="showRestaurant(restaurantId)">{{restaurant.name}}</span>
						</div>
					</div>
					<div id="{{restaurantId}}" class="hideMenuList">
						<div class="col-md-12">
							<div class="row" ng-repeat="menu in restaurant.menus">
								<div>
									<span class="menuLink" ng-init="menuId = menu.id" ng-click="showMenu(menuId)">{{menu.name}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6" >
			<div class="row">
				<div class="col-md-12">
					<div class="row" ng-repeat="item in items">
						<div class="col-md-6">
							<span class="itemName">{{item.name}}</span></br>
							<span class="itemDesc">{{item.desc}}</span></br>
							<span class="add2Order" ng-init="itemID = item.id" ng-click="addItem(itemId)">Add to Order</span>
						</div>
						<div class="col-md-6">
							<img src="/images/{{item.image}}.jpg" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3" >
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-8">
							<span class="orderHead">My Order</span>
						</div>
					</div>
					<div class="row" ng-repeat"thing in things" ng-show="orderStatus > 0 && orderStatus < 6">
						<div class="col-md-6">
							{{thing.name}} ({{thing.option}})
						</div>
						<div class="col-md-2">
							{{thing.price}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
