<div class="col-md-12" style="top: 40px; background-color: white;">
	<div class="row">
		<div class="col-md-3" id="restaurantMenusPanel" style="position:fixed; top: 120px;">
			<div class="row" ng-repeat="restaurant in restaurants">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<span class="restaurantLink" ng-init="restaurantId = restaurant.id" ng-click="showRestaurant(restaurantId)">{{restaurant.name}}</span>
						</div>
					</div>
					<div id="{{restaurantId}}" class="hideMenuList">
						<div class="col-md-12">
							<div class="row" ng-repeat="menu in restaurant.menus">
								<div>
									<span class="menuLink" ng-init="menuId = menu.id" ng-click="showMenu(menuId)">{{menu.name}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-md-offset-3" id="menuItemsPanel">
			<div class="row">
				<div class="col-md-12">
					<div class="row" id="itemRow" ng-init="itemName = item.name; itemId = item.id" ng-repeat="item in items">
						<div class="col-md-6">
							<span class="itemName">{{item.name}}</span>
							</br>
							<span class="itemDesc">{{item.desc}}</span>
							</br>
							<div class="itemOptions" ng-repeat="option in item.options">
								{{option.name}} ({{option.price}})
							</div>
							<span class="add2Order pull-left" ng-click="addItem(itemId,itemName)">
								Add to Order
								<br>
							</span>
						</div>
						<div class="col-md-6">
							<img src="{{item.image}}" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-9" id="orderPanel">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<span class="orderHead">My Order</span>
						</div>
					</div>
					<div class="row" id="thingRow" ng-init="thingId = thing.id" ng-repeat="thing in things" ng-show="orderStatus > 0 && orderStatus < 6">
						<div class="col-md-9">
							{{thing.name}}<br>({{thing.option}})
						</div>
						<div class="col-md-3" id="thingPrice">
							{{thing.price}}<br><div class="priceOptionRemove"><span class="removeFromOrder" ng-init="thingId = thing.optionId" ng-click="removeOption(thingId)">Remove</span></div>
						</div>
					</div>
					<div class="row" id="subtotalRow" ng-show="orderStatus > 0 && orderStatus < 6">
						<div class="col-md-9">
							Subtotal
						</div>
						<div class="col-md-3" class="subtotal">
							{{subtotal}}
						</div>
					</div>
					<div class="row" id="taxRow" ng-show="orderStatus > 0 && orderStatus < 6">
						<div class="col-md-9">
							Sales Tax
						</div>
						<div class="col-md-3" class="tax">
							{{tax}}
						</div>
					</div>
					<div class="row" id="deliveryFeeRow" ng-show="orderStatus > 0 && orderStatus < 6">
						<div class="col-md-9">
							Delivery Fee
						</div>
						<div class="col-md-3" class="deliveryFee">
							{{deliveryFee}}
						</div>
					</div>
					<div class="row" id="discountRow" ng-show="orderStatus > 0 && orderStatus < 6 && discount < 0">
						<div class="col-md-9">
							Discount
						</div>
						<div class="col-md-3" class="discount">
							{{discount}}
						</div>
					</div>
					<div class="row" id="totalRow" ng-show="orderStatus > 0 && orderStatus < 6">
						<div class="col-md-9">
							Total
						</div>
						<div class="col-md-3" class="total">
							{{total}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
