<div id="fms-restaurants-form" class="col-md-12" ng-cloak>
	<div class="page-header" ng-show="!restaurant.name && !editMode">
		<h3>Add Restaurant</h3>
	</div>
	<div class="page-header" ng-show="!restaurant.name && editMode">
		<h3>Update Restaurant</h3>
	</div>
	<div class="page-header" ng-show="restaurant.name">
		<h3>
			<small>RESTAURANT: </small>
			{{restaurant.name}} 
		</h3>
	</div>
	<form name="form" class="form-horizontal">
		<div class="form-group">
			<label for="name" class="col-md-1 control-label">Restaurant Name</label>
			<div class="col-md-11">
				<input 
					type="text" class="form-control" placeholder="Name"
					ng-model="restaurant.name" id="name"
				>
			</div>
		</div>

		<div class="form-group">
			<label for="desc" class="col-md-1 control-label">Description</label>
			<div class="col-md-11">
				<input 
					type="text" class="form-control" placeholder="Authentic Italian Cuisine"
					ng-model="restaurant.desc" id="desc"
				>
			</div>
		</div>

		<div class="form-group">
			<label for="slogan" class="col-md-1 control-label">Slogan</label>
			<div class="col-md-11">
				<input 
					type="text" class="form-control" placeholder="When you're here, you're family!"
					ng-model="restaurant.slogan" id="slogan"
				>
			</div>
		</div>

		<div class="form-group">
			<label for="cuisine" class="col-md-1 control-label">Cuisine Type</label>
			<div class="col-md-11">
				<input 
					type="text" class="form-control" placeholder="italian"
					ng-model="restaurant.cuisine" id="cuisine"
				>
			</div>
		</div>

		<!--
		<div class="form-group">
			<label class="col-md-1 control-label">Web Locations</label>
			<div class="col-md-11 controls pod-row">
				<div 
					class="col-md-3 pod pod-default" 
					ng-repeat="(idx, link) in restaurant.links"
				>
					<div class="pod-body">
						<div class="row">
							<select class="form-control" ng-model="link.type">
								<option value="website">Website</option>
								<option value="facebook">Facebook</option>
								<option value="twitter">Twitter</option>
								<option value="instagram">Instagram</option>
								<option value="pinterest">Pinterest</option>
								<option value="other">Other</option>
							</select>
						</div>
						<div class="row" ng-show="link.type == 'other'">
							<div class="input-group">
								<span class="input-group-addon">Location Type:</span>
								<input 
									type="text" class="form-control"
									placeholder="Eg. Google+, Flickr, etc."
									ng-model="link.otherType"
								>
							</div>
						</div>
						<div class="row">
							<div class="input-group">
								<span class="input-group-addon">
									{{restaurantConfig.links[link.type].addon}}
								</span>
								<input 
									type="text" class="form-control"
									placeholder="{{restaurantConfig.links[link.type].placeholder(restaurant)}}"
									ng-model="link.url"
								>
							</div>
						</div>
					</div>
					<div class="pod-controls">
						<button 
							type="button" class="close" aria-label="Delete"
							ng-click="$pod.remove(restaurant.links, idx, defaultLink)"
						>
							<span aria-hidden="true">
								<i class="fa fa-times"></i>
							</span>
						</button>
						<button 
							type="button" class="close" aria-label="Copy"
							ng-click="$pod.copy(restaurant.links, idx)"
						>
							<span aria-hidden="true">
								<i class="fa fa-copy"></i>
							</span>
						</button>
						<button
							type="button" class="close" aria-label="Add"
							ng-click="$pod.add(restaurant.links, idx, defaultLink)"
						>
							<span aria-hidden="true">
								<i class="fa fa-plus-square"></i>
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
-->

		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container-fluid">
				<button
					type="button" class="btn btn-danger col-md-1" 
					ng-click="cancel()"
				>
					Cancel
				</button>
				<button 
					type="button" class="btn btn-primary col-md-1 pull-right" 
					ng-click="save(restaurant)"
				>
					<i class="fa fa-save"></i> &nbsp;
					Save
				</button>
				<button
					type="button" class="btn btn-default col-md-1 pull-right" 
					ng-click="save(restaurant, {addMore: true})"
					ng-show="!editMode"
				>
					Save &amp; Add More
				</button>
			</div>
		</div>
	</form>
</div>
