<div class="modal-header">
  <h3 class="modal-title" id="nav-away-modal-title">
		Create an Account
  </h3>
</div>
<div class="modal-body">
	<form name="createAccountForm">
		<h4>Select Your Area</h4>
		<br/>
		<div class="radio" ng-repeat="area in areas"> <!-- TODO change this to a select soon -->
			<label>
				<input type="radio" name="areaName" ng-value="area.id" ng-model="$parent.selArea">
				{{area.name}} <!-- TODO - fix this so that when only one area exists, it is selected by default -->
			</label>
		</div>
		<br/>
		<label for="fName">First Name:</label>
		<input type="text" name="fName" class="form-control" required ng-model="fName">
		<span class="error" ng-show="createAccountForm.fName.$error.required">First Name is required!<br/></span>
		<label for="lName">Last Name:</label>
		<input type="text" name="lName" class="form-control" required ng-model="lName">
		<span class="error" ng-show="createAccountForm.lName.$error.required">Last Name is required!<br/></span>
		<label for="street">Street Address:</label>
		<input type="text" name="street" class="form-control" required ng-model="street">
		<span class="error" ng-show="createAccountForm.street.$error.required">Street Address is required!<br/></span>
		<label for="apt">Apt / Ste:</label>
		<input type="text" name="apt" class="form-control" ng-model="apt">
		<label for="city">City:</label>
		<input type="text" name="city" class="form-control" required ng-model="city">
		<span class="error" ng-show="createAccountForm.city.$error.required">City is required!<br/></span>
		<label for="state">State:</label>
		<input type="text" name="state" class="form-control" required ng-model="state">
		<span class="error" ng-show="createAccountForm.state.$error.required">State is required!<br/></span>
		<label for="zip">Zip:</label>
		<input type="text" name="zip" class="form-control" required ng-model="zip">
		<span class="error" ng-show="createAccountForm.zip.$error.required">Zip is required!<br/></span>
		<label for="phone">Phone:</label>
		<input type="text" name="phone" class="form-control" required ng-model="phone">
		<span class="error" ng-show="createAccountForm.phone.$error.required">Phone is required!<br/></span>
		<label for="email">Email:</label>
		<input type="text" name="email" class="form-control" required ng-model="email">
		<span class="error" ng-show="createAccountForm.email.$error.required">Email is required!<br/></span>
		<label for="username">Username:</label>
		<input type="text" name="username" class="form-control" required ng-model="username">
		<span class="error" ng-show="createAccountForm.username.$error.required">Username is required!<br/></span>
		<label for="password">Password:</label>
		<input type="password" name="password" class="form-control" required ng-model="password">
		<span class="error" ng-show="createAccountForm.password.$error.required">Password is required!<br/></span>
	</form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary pull-left" ng-click="$close('discard')">
    <i class="fa fa-reply"></i> &nbsp; Go Back
  </button>
  <button type="button" class="btn btn-success pull-right" ng-click="createAccount()" ng-disabled="!selArea">
    <i class="fa fa-plus"></i> &nbsp; Create Account
  </button>
</div>
