<div class="modal-header" ng-show="! step">
	<button type="button" class="close pull-right" ng-click="$close('discard')">x</button>
  <h3 class="modal-title" id="nav-away-modal-title">
		Create a New Account
	</h3>
</div>
<div class="modal-body">
	<form name="createAccountForm">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<label for="username">username</label>
						<input type="text" name="username" class="form-control" required ng-blur="usernameSearch()" ng-model="username" ng-class="required(username, 0)">
						<span class="error" ng-show="!validUsername">
							The username specified is already taken.
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="password">Password</label>
						<input type="password" name="password" class="form-control" required ng-model="password" ng-class="required(password, 0)">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<span ng-click="haveAccount()" style="font-size: 14px; font-weight: 500; color: blue; cursor: pointer;">Click here to sign in if you already have an account.</span>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary pull-left" ng-click="$close('discard')">
    <i class="fa fa-reply"></i> &nbsp; Close
  </button>
	<button type="button" class="btn btn-success pull-right" ng-click="createAccount()">
    <i class="fa fa-plus"></i> &nbsp; Create Account
	</button>
</div>
